/* Color Palette */

:root {
    --color-yellow: #F6F8BC;
    --color-pink: #FF31DF;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Utility Classes */

.button-reset {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding: 0;
    text-align: inherit;
}

.button-reset[disabled] {
    cursor: default;
}

.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    margin: -1px;
    padding: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
}

/* Global Settings */

body {
    background-color: var(--color-yellow);
    color: var(--color-pink);
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 70px;
}

p {
    font-size: 27px;
}
