/* CSS Custom Properties */

:root {
    --color-red: #c61a3a;
    --color-green: #71f79f;
    --color-offblack: #1E2019;
    --color-grey: #d1d5de;
    --color-offwhite: #fafafa;
    --color-blue: #163346;

    --font-body: 'BenchNine', sans-serif;
    /* Weights: 300, 400, 700 */

    --font-heading: 'Teko', sans-serif;
    /* Weights: 500, 600, 700 */
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Utility Classes */

.button-reset {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding: 0;
    text-align: inherit;
}

.button-reset[disabled] {
    cursor: default;
}

.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    margin: -1px;
    padding: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
}

/* Main Sections */

body {
    background-color: var(--color-blue);
    color: white;
    font-family: var(--font-body);
    font-size: 22px;
    margin: 0;
}

fieldset {
    border: 0;
    padding: 0;
}

form {
    background-color: var(--color-offblack);
    padding: 16px;
    margin: 24px;
}

header {
    background-color: var(--color-grey);
    color: black;
}

h1,
h2 {
    font-family: var(--font-heading)
}

h1 {
    font-size: 48px;
    text-align: center;
}

img {
    height: 100px;
    width: 100px;
}

input,
select,
textarea {
    display: block;
    font-family: inherit;
}

select {
    cursor: pointer;
}

/* textarea {
    height: 300px;
    width: 900px;
} */

input[type="radio"],
input[type="checkbox"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    border: 3px solid var(--color-grey);
    height: 24px;
    width: 24px;
}

input[type="radio"] {
    border-radius: 50%;
}

input[type="radio"]:hover,
input[type="checkbox"]:hover,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    border-color: var(--color-green);
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
    background-color: var(--color-green);
}

input[type="radio"]:checked+label,
input[type="checkbox"]:checked+label {
    border-bottom: 3px solid var(--color-green);
}

input[type="text"],
input[type="email"],
input[type="number"] {
    background-color: var(--color-offwhite);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
    background-color: white;
}

input[type="text"]:valid,
input[type="email"]:valid,
input[type="number"]:valid {
    background-color: aqua;
}

input[type="text"]:required:valid,
input[type="email"]:required:valid,
input[type="number"]:required:valid {
    background-color: greenyellow;
}

/* Broken on Safari & Chrome */
input[type="text"]:not(:placeholder-shown):invalid,
input[type="email"]:not(:placeholder-shown):invalid,
input[type="number"]:not(:placeholder-shown):invalid {
    background-color: orange;
}

/* Classes */

.logo {
    display: block;
    height: 240px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    width: 240px;
}
